:root { --Gris-claro: #334a5fec; }

header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    background-color: var(--Gris-claro);
    display: flex;
    align-items: center;
    padding: 6px 16px;
    z-index: 1000;
}


.titulo {
    margin: 0;
    color: whitesmoke;
    margin-left: 80px;
    font-weight: 200;
}

/* MENU*/
.nav-bg {
    margin-left: 550px;
    text-align: center;     /* centra los enlaces */
}


header h1, header nav a {
    line-height: 1;
    font-size: 1.2rem;
}

.nav-bg a {
    color: whitesmoke;
    margin: 0 15px;
    font-weight: 200;
    left: 5px;
}


body { 
    margin-top: 50px; 
}
